/*************************************************************************
 * Your custom CSS file
 *************************************************************************/



 .darkmode-button {
  position: fixed;
  top: 10px;
  right: 10px;  
  z-index: 9999;
  cursor: pointer;
}


.content-container {
  z-index: 1;
  position: static;
  width: 100%;
  min-width: 300px;  
}

.content {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 900px;
  overflow-x: auto;
  background-color: white;
  border-radius: 125px; /* Rounded corners */
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1); /* Subtle shadow */
  padding: 0px; /* Padding */  

}



.content p a:hover, 
.content ul a:hover,
.content ol a:hover {
  text-decoration: underline;  
}

.content-table {
  padding: 40px 10px;
  width: 100%;
  margin: 0;
}

.banner {


  background: 
    /* Create blurred ellipse */
    radial-gradient(circle at center, 
      rgba(0, 92, 191, 0.5) 0%, 
      rgba(0, 92, 191, 0) 70%),
    
    /* Add pattern */ 
    url(pattern.png); 
  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Other banner styles */
  font-size: 16px;
  padding: 10px 20px; 
  display: flex;
  justify-content: center;  
  align-items: center;
height: 100vh;
  
  margin: 5px 0; /* Increased margin */
  
}
.banner, 
.content {
  transition: transform 0.5s ease; 
}

.banner {
  transform: translateY(0);  
}

.content {
  transform: translateY(0vh); 
}

/* When scrolled down, move banner up and show content */
body.scrolled .banner {
  transform: translateY(-100vh);
}

body.scrolled .content {
  transform: translateY(0);
}

.banner h2 {
  font-size: 3em; /* Increase the font size to 3em */
  animation: fadeIn 1s ease-in-out; /* Add the animation rule */


  color: white;
  /* Add text shadow for readability */
  text-shadow: 1px 1px 2px #333; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}






.banner .flex-item {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box; 
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;  
}


.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-item-stretch {
  flex: 1 auto; 
}

.flex-item-stretch-2 {
  flex: 1 auto;
}

.flex-item-stretch-3 {
  flex: 1 auto;  
}

.flex-item-stretch-4 {
  flex: 1 auto;
}

.flex-item-stretch-5 {
  flex: 1 auto;
}

.flex-item {
  margin: 0 20px;
}

.left-align {
  float: left;
}

.right-align {
  float: right;  
}

.full-width {
  width: 100%;
}

.badge-text {
  font-size: 30px;
  font-weight: 700; 
}

.purpose-text{
  color: #005cbf;
}

.text {
  margin: 10px 0; 
  padding: 0;
  color: #005cbf;  /* Text color */
  text-align: center; 
}

.text-large-margin {
  margin: 15px 0;
  padding: 0; 
}

.text-small-margin {
  margin: 5px 0;
  padding: 0;
}

.text-no-margin {
  margin: 0;
  padding: 0;
}



.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}


.custom-button-primary {
  background-color: #005cbf;
  border-color: #005cbf;
  flex: 1;
  margin: 0;  
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
}

.custom-button-primary:not(:disabled):hover {
  background-color: #f9fbfc;
  border-color: #fafcfd;
  color: #005cbf;  
}

.custom-button-primary:not(:disabled):active {
  background-color: #fcfcfd;
  border-color: #fbfbfc;
  color: #005cbf;
}

h2 {
  font-size: 24px;
  color: #005cbf;  
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center; /* Center text */

  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 18px;
  color: black;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-y: scroll;  
  margin: 0;
  padding: 0;  
  background-color: #d4f4ff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  width: auto; 
  

}


body::-webkit-scrollbar {
  display: none;
}
.button-container {
  max-width: 400px; /* Width */
  margin: 0 auto; /* Center */  
}

.topnav {
  overflow: hidden;
  background-color: #005cbf;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-left: 20px;
}


.menu-icon {
  display: none; 
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.menu-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropdown {
  float: left;
  overflow: hidden;  
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
padding-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #005cbf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left: 20px;
  color: white;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;  
  
}

.topnav .dropdown:hover .dropdown-content {
  display: block;
}
/* Sidebar styling */

.sidebar {
  position: fixed;
  top: 0;
  left: -228px; /* Initially, keep it off the screen */
  height: 75%;
  width: 250px;
  background-color: #005cbf;
  overflow-x: hidden;
  transition: 0.5s; /* Smooth transition effect */
  padding-top: 20px;
  z-index: 1000; /* Ensure it appears above other elements */
  border-width: 2.5px;
  border-color: #ffffff;
border-style:dotted;
}

.arrow-indicator {
  position: absolute;
  right: -30px; /* Adjust based on the width of your arrow image */
  top: 50%;
  transform: translateY(-50%);
  /* This makes sure the image stays vertically centered */


}
.arrow-indicator img {
  width: 20px; /* adjust as needed */
  height: 20px; /* maintain aspect ratio */
  padding-right: 32px;
}

/* Hover effect to display the sidebar */
.sidebar:hover {
  left: 0;
}


.socials-logo{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.profile-picture{
display: flex;
  justify-content: center;
  
}
.profile-picture img {
  border-radius: 50%; /* Makes the image circular */
  width: 80px; /* Adjust based on desired size */
  height: 80px; /* Adjust based on desired size */
  object-fit: cover; /* Ensures the image covers the dimensions without distortion */
  

}


/* Styling for the personal information section inside the sidebar */
.personal-info h3 {
  color: white;
  padding-left: 10px;
}

.personal-info p {
  color: #818181;
  padding-left: 10px;
  padding-right: 10px;
}
.socials-logos {
  display: flex;
  justify-content: center; /* Center children horizontally */
  padding-top: 10px;
}

.socials-logos img {
  width: 22px; /* Adjust based on desired size */
  height: 22px; /* Adjust based on desired size */
  margin: 0 5px; /* Space between images */
  object-fit: cover; /* Ensures the image covers the dimensions without distortion */
}
.contact-me {
  text-align: center; /* Center the text */
  color: white; /* Set text color to white */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; /* Use a clean and professional font */
  font-weight: bold; /* Bold font weight */
  font-size: 24px; /* Adjust based on desired size */
  background-color: #005cbf; /* Optional: Adding a background color for better visibility of white text */
  padding: 10px 20px; /* Optional: Adding some padding for better appearance */

}
.contact-me p {
  margin: 5px 0; /* Reduced margin to bring lines closer together */
}

.contact-me p:first-child {
  font-weight: bold; /* Bold font weight for the title */
  font-size: 20px; /* Font size for the title */
}

.contact-me p:last-child {
  font-weight: lighter; /* Lighter font weight for the number */
  font-size: 24px; /* Font size for the number */
}
h4 {
  color: white; /* Set text color to white */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; /* Use a clean and professional font */
  margin-top: 0px; /* Space from the profile picture above */
  margin-bottom: 15px; /* Space for the social media icons below */
  text-align: center; /* Center the text */
  font-weight: 300; /* Lighter font weight for a sleek look */
  font-size: 16px; /* Reduced font size */
  letter-spacing: 1px; /* Add letter spacing for style */
}
p2{
  font-size: small;
  display: flex;
  align-items: center;
}
