body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
}

.top-bar {
  background: #000;
  color: #73000a;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.custom-button-flat {
  background: #73000a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #fff;
}

.custom-button-flat:hover {
  background: #560004;
}

.custom-button-flat img {
  width: 20px;
  margin-right: 10px; 
}

.banner {
  height: 300px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 2em;
  overflow: hidden; /* Prevents image from overflowing */
}

.banner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Fits the image within the banner */
}

.main {
  width: 80%;
  margin: 0 auto;
}

.info, .coursework {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin: 2em 0;
}

.details-box {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin: 0 20px;
  background-color: #f8f8f8;
}

.details-box:hover {
  box-shadow: 0 0 20px #aaa;
}

.course {
  background: #73000a;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 300px;
  margin: 20px;
  padding: 1em;
  color: #fff;
}

.course a {
  color: #fff;
}

.course a:hover {
  color: #ccc; 
}

h2, .details-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.details-box p, .course-desc {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style: disc;
  padding-left: 40px;
  color: #000;
}
